body {
  background: #F7F7F7;
  font-weight: 400; }

.cs-footer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }

.cs-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 330px;
  color: #fff;
  background: #3274D3; }

  .cs-header .ht-logo {
    width: 200px; }

.cs-header-logo {
  padding: 20px;
  margin-top: -20px;
  margin-bottom: -20px; }

.cs-header-title {
  margin-top: auto;
  font-weight: 600;
  font-size: 40px; }

.cs-header-subline {
  opacity: .39;
  font-weight: 600;
  margin-bottom: auto;
  font-size: 20px; }

.cs-subheader {
  min-height: 60px;
  display: flex;
  padding: 20px;
  font-weight: 600;
  background-color: #E7E7E7;
  align-items: center;
  justify-content: center;
  color: #4f4f4f; }
  .cs-subheader a {
    text-decoration: underline; }
  .cs-subheader i {
    margin-right: 20px;
    font-size: 23px; }
  .cs-subheader a {
    color: #4f4f4f; }
    .cs-subheader a:focus, .cs-subheader a:hover, .cs-subheader a:active {
      color: #484848; }

.cheatsheet {
  margin-top: 60px; }
  .cheatsheet .collapse-buttons {
    margin-bottom: 20px; }
  .cheatsheet .share-buttons {
    margin-bottom: 20px; }
    .cheatsheet .share-buttons span.share-title {
      font-size: 14px;
      margin-right: 10px; }
  .cheatsheet a:hover, .cheatsheet a:focus, .cheatsheet a:active {
    text-decoration: none; }
  .cheatsheet .category {
    margin-bottom: 1rem; }
    .cheatsheet .category h3.category-heading {
      background: #464854;
      margin-bottom: 0;
      padding: 10px;
      font-size: 20px;
      border-radius: 3px 3px 0 0;
      color: white; }
    .cheatsheet .category .doc-link {
      color: white; }
    .cheatsheet .category ul {
      padding: 0;
      margin: 0;
      /*border:1px #f1f1f1 solid;*/
      /*border-top:none;*/
      /*border-radius: 0 0 3px 3px;*/ }
    .cheatsheet .category li {
      list-style: none;
      line-height: 1.3;
      /*&:last-child {*/
      /*border-radius: 0 0 3px 3px;*/
      /*}*/ }
      .cheatsheet .category li .copy-links {
        display: none; }
      .cheatsheet .category li:nth-child(odd) {
        background-color: #F1F1F1; }
      .cheatsheet .category li:hover {
        background-color: rgba(52, 138, 199, 0.44) !important; }
        .cheatsheet .category li:hover .copy-links {
          display: inline-block; }
      .cheatsheet .category li.active {
        background-color: rgba(116, 116, 191, 0.44) !important; }
      .cheatsheet .category li a.item-link {
        padding: 3px 10px;
        display: inline-block;
        width: calc(100% - 60px);
        color: black; }
      .cheatsheet .category li span.copy-links a {
        color: rgba(48, 49, 61, 0.58);
        display: inline-block;
        padding: 3px; }
        .cheatsheet .category li span.copy-links a:hover {
          color: rgba(48, 49, 61, 0.8); }
      .cheatsheet .category li i.screenindicator {
        color: #454545;
        font-size: 14px; }




  @media (max-width: 991px) {
    .showcase {
      padding-top: 25px; } }
  .showcase #close-showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    top: -3px;
    border-radius: 0 0 8px 8px;
    right: 12px;
    width: 50px;
    height: 50px;
    background-color: #4d4d4d;
    }
    .showcase #close-showcase:hover {
      background-color: #515157;
      text-decoration: none; }
    .showcase #close-showcase i.fas {
      font-size: 25px;
      color: #232323;
      color: white; }
  .showcase h3.showcase-title {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    }
  .showcase .navigation {
    text-align: center;
    /*background-color:#2d2d2d;*/
    font-size: 22px;
    padding-bottom: 4px; }
    .showcase .navigation #current-item-title {
      display: inline-block;
      min-width: 220px;
      padding: 1px;
      color: white;
      }
    .showcase .navigation .arrow-nav {
      display: inline-block;
      padding: 5px 25px;
      border-radius: 8px;
      margin-bottom: 5px;
      background-color: #4d4d4d;
      color: #fff;
      font-size: 19px;
      }
      @media (min-width: 992px) {
        .showcase .navigation .arrow-nav {
          margin: 0 20px; } }
      .showcase .navigation .arrow-nav:focus, .showcase .navigation .arrow-nav:active, .showcase .navigation .arrow-nav:hover {
        text-decoration: none;
        background: #515157; }
    @media (max-width: 543px) {
      .showcase .navigation {
        font-size: 18px; }
        .showcase .navigation #current-item-title {
          min-width: 211px; }
        .showcase .navigation .arrow-nav {
          padding: 3px 10px; } }

.showbox-wrapper {
  position: relative; }
  .showbox-wrapper .showbox-copy-buttons {
    position: absolute;
    top: -26px;
    right: 0px;
    font-size: 16px;
    padding: 0;
    color: #232323; }
  .showbox-wrapper .showbox-copy {
    color: white;
    display: inline-block;
    background: #38383e;
    padding: 1px 7px;
    border-radius: 3px 3px 0 0; }
    .showbox-wrapper .showbox-copy:hover, .showbox-wrapper .showbox-copy:active, .showbox-wrapper .showbox-copy:focus {
      text-decoration: none; }
    .showbox-wrapper .showbox-copy:hover {
      background-color: #515157; }
  .showbox-wrapper #showbox-code {
    border-radius: 3px 0 3px 3px;
    background-color: #fff; }
    .showbox-wrapper #showbox-code .harder-highlight {
      font-weight: bold;
      background-color: #F5E7EA; }
    .showbox-wrapper #showbox-code figure.highlight {
      background-color: transparent;
      padding: 0;
      margin: 0; }
      .showbox-wrapper #showbox-code figure.highlight pre {
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
        /*margin-bottom:-25px;*/ }

#showcase {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 6vh 2%;
    background: #222222;
    display:none;
}

#showbox-example {
  position: relative; }
  #showbox-example .fixed-top {
    position: absolute;
    border-radius: 3px 3px 0 0; }
  #showbox-example .fixed-bottom {
    position: absolute;
    border-radius: 0 0 3px 3px; }
  #showbox-example .center-block {
    max-width: 200px;
    background-color: #f1f1f1;
    padding: 15px; }

.showbox {
  padding: 15px;
  background-color: #fff;
  color: #232323;
  margin: 20px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  min-height: 157px; }
  @media (max-width: 992px) {
    .showbox {
      min-height: 0; } }
  .showbox .card {
    max-width: 320px; }
  .showbox.code {
    font-family: monospace; }
  .showbox .dl-fix {
    padding: 0 15px; }
  .showbox .container.gridpreview .row > .col,
  .showbox .container.gridpreview .row > [class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2); }
  .showbox .bd-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto; }
  .showbox .bd-example-container-header {
    height: 3rem;
    margin-bottom: .5rem;
    background-color: #daeeff;
    border-radius: .25rem; }
  .showbox .bd-example-container-sidebar {
    float: right;
    width: 4rem;
    height: 8rem;
    background-color: #fae3c4;
    border-radius: .25rem; }
  .showbox .bd-example-container-body {
    height: 8rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: .25rem; }
  .showbox .bd-example-container-fluid {
    max-width: none; }

@media (max-width: 1200px) {
  .cheatsheet-title {
    font-size: 3rem; } }

.cheatsheet-subtitle {
  font-size: 30px;
  margin-top: 15px; }
  @media (max-width: 1200px) {
    .cheatsheet-subtitle {
      font-size: 22px; } }










#examples {
  display: block; 
}

#examples .clipboard {
  display: none; 
}

#examples > div {
  border-top: 1px solid #222222;
  padding: 0.5em 0 2em;
  display: flex;
  flex-wrap: wrap;
}
#examples > div .display-title {
	font-size: 1.2em;
	flex: 1 1 100%;
}
#examples > div .code {
  display:inline-block;
	margin: 1em;
	padding: 1em;
	background-color:#222222;
	flex: 2 2 calc(50% - 2em);
}
#examples > div .code pre code {
    color: #1f92ffc7;
    word-break: break-word;
    white-space: pre-wrap;
}
#examples > div .rendered{
  display:inline-block;
  margin: 1em;
  flex: 2 2 calc(50% - 2em);
  background-color:#ffffff;
  padding:1em;
  position: relative;
}
#examples > div .alt-rendered{
  display:inline-block;
	margin: 1em;
	margin-left: calc(50% + 1em);
	flex: 2 2 calc(50% - 2em);
	background-color:#ffffff;
	padding:1em;
}













.rendered .fixed-top, 
.rendered .fixed-bottom{
	position:absolute;
} 