@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&display=swap');

body > nav{
  background-color: var(--bleu-f2);
  color: white;
  padding: 0rem;
  position: fixed;
  top: 0;
  Left: 0;
  width: 100%;
  z-index: 999;
}

body > nav header img {
  width:auto;
  height: 1.75rem;
  display: inline-block;
  vertical-align: middle;
}
body > nav header {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid white;
  padding: 0rem 0.5rem 0rem 1rem;
  margin: 0.5rem;
}

body > nav header p{
  display: inline-block;
  margin-bottom: 0;
  padding: 0rem 0.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  vertical-align: middle;
  color: white;
}

body > nav > a{
  color: var(--gris);
  padding: 0.5rem 0.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  transition: var(--transition);
  font-weight: 300;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none!important;
}
body > nav > a:hover, body > nav > a.active{
  color: var(--blanc);
}
body > nav > a:after{
  content: '';
  background-color: var(--gris);
  display: block;
  position:absolute;
  bottom:0;
  height: 2px;
  left:50%;
  right: 50%;
  transition: var(--transition);
}
body > nav > a:hover:after, body > nav a.active:after{
  background-color: white;
  left:20%;
  right: 20%;
}

header.titre-principal{
  background-color: var(--bleu) !important;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: var(--space-4);
}


@media screen and (max-width: 768px){
  body > nav header {
    display: block;
    width: 100%;
    margin: 0rem;
    border-right: none;
    padding: 0.5rem;
    background-color: var(--bleu);
  }
  .contient-charte{
    margin-top: 6rem !important;
  }
  body > nav > a{
    font-size: 1rem;
  }
}




/* -------------RUBAN */



.ruban-lien{
  left:0;
  width:220px;
  position: fixed;
  top:3rem;
  bottom:0;
  background-color: white;
  padding: var(--space-0);
  box-shadow: var(--ombre);
  overflow-y: auto;
}
.ruban-lien .h5, .ruban-lien .h4{
  font-size: var(--font-size-1);
  font-weight: 700;
  margin: 0;
}
.ruban-lien .h4{
  font-size: var(--font-size-3);
  margin-top: var(--space-3);
  color: var(--bleu-f1);
}
.ruban-lien a{
  display: block;
  position: relative;
  color: var(--gris-f1);
  line-height: 1.5rem;
  padding: var(--space-0) var(--space-2);
  width: 100%;
  text-decoration: none !important;
}
.ruban-lien a.h5{
  padding-left: var(--space-3);
}
.ruban-lien a:hover{
  background-color: var(--gris);
}
.ruban-lien a:not(.h5):not(.h4){
  padding-left: var(--space-4);
  font-size: var(--font-size--1);
}
.ruban-lien a:not(.h5):not(.h4):before{
  content: "";
  position: absolute;
  background-color: var(--gris-f1);
  width: 1px;
  height:100%;
  top:0;
  left:var(--space-3);
}
.contient-charte{
  margin-top: 3rem;
  margin-left: 220px;
  width: calc(100% - 220px);
}


@media screen and (max-width:768px){
  .ruban-lien{ display: none;}
  .contient-charte{
    margin-left: 0px;
    width: 100%;
  }
}



/* ------------ SESSION */

section.titre{
  padding: var(--space-4) 0;
  border-top: 1px solid var(--bordure-color);
  margin-top: var(--space-5);
}
section.titre:first-child{
  padding: var(--space-4) 0;
  border-top: 0px solid var(--bordure-color);
  margin-top: var(--space-0);
}
section:not(.titre){
  background-color: white;
  transition: var(--transition);
  padding: var(--space-4);
  padding-top: var(--space-3);
  margin-bottom: var(--space-4);
}
section:not(.titre):hover{
  box-shadow: var(--ombre-hover);
}

section > h3{
  padding-top: var(--space-1);
  padding-bottom: var(--space-2);
  margin-bottom: var(--space-3);
}
section > h3:after{
  content: '';
  display: block;
  height: 1px;
  width: 90px;
  background-color: var(--gris-f1);
  position: relative;
  top: var(--space-2);
}


@media screen and (max-width: 768px){
  section.titre{
    padding: var(--space-3) 0;
    margin-top: var(--space-5);
  }
  section.titre:first-child{
    padding: var(--space-3) 0;
  }
  section:not(.titre){
    padding: var(--space-3);
    margin-bottom: var(--space-3);
  }
}



.apercu, .code{
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}
.container{
  max-width: 1000px;
  padding:0 var(--space-3);
}
.contient-demo{
  border-top: 1px solid var(--gris);
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  margin-bottom: var(--space-5);
}
.code textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding: var(--space-3);
  background-color: var(--gris-f2);
  color: white;
  font-size: var(--font-size--1);
  font-family: monospace;
  -webkit-user-modify: read-only;
  border: none;
}







/* ---------- Tableau Couleur */

.tableau-couleur{
  font-size: 0;
  position: relative;
}

.nom-couleur {
  color: var(--gris-f2);
  border-bottom: var(--gris-f2) 1px solid;
  padding-bottom: var(--space-2);
  margin-bottom: var(--space-2);
  text-align: center;
  font-weight: 300;
}
.tableau-couleur .col {
  display: inline-block;
  width: 9%;
  font-size: var(--font-size--1);
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}
.tableau-couleur .col div[class*='bg'] {
  padding: var(--space-2) var(--space-2) var(--space-4) var(--space-2);
  margin-bottom: var(--space-2);
}
.tableau-couleur .col div[class*='bg']:nth-child(3) {
  min-height: 6rem;
}

.teinte-couleur{
  color: var(--gris-f2);
  max-width: 1.5rem !important;
  padding-left: 0 !important;
  position: absolute;
  left: -1.5rem;
  top: -0.1rem;
}
.teinte-couleur div:nth-child(1){
  width: 3px;
  height: calc(1.9rem + 1px);
  padding-bottom: var(--space-2);
  margin-bottom: var(--space-2);
}
.teinte-couleur div:nth-child(2),
.teinte-couleur div:nth-child(4),
.teinte-couleur div:nth-child(5){
  padding: var(--space-2) var(--space-2) var(--space-4) 0;
  margin-bottom: var(--space-2);
  border-right: var(--gris-f2) 1px solid;
  text-align: right;
}
.teinte-couleur div:nth-child(3){
  width: 3px;
  height: calc(6rem); 
  padding: var(--space-2) var(--space-2) var(--space-4) 0;
  margin-bottom: var(--space-2);
}


@media screen and (max-width: 1010px){
  .tableau-couleur .col {
    width: 18%;
    flex-basis:auto;
  }
}
@media screen and (max-width: 680px){
  .tableau-couleur:not(.souple) .col {
    width: 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 500px){
  .tableau-couleur:not(.souple) .col {
    width: 50%;
    max-width: 50%;
  }
}


/* ---------------Pres MOtif */

.pres-motif{
  min-height: 150px;
  padding: var(--space-3) var(--space-3);
  background-size: cover;
  background-repeat: no-repeat;
}
.pres-motif h4, .pres-motif p{
  color: white;
}