img{object-fit: cover;}

.font-size-0{font-size: 0;}

.flou-arriere{backdrop-filter: blur(15px) saturate(1.5);}

//_Reboot
*{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

//_background

@each $color, $value in $colors-cci {
    .border-#{$color} {
      border-color: var(--#{$color}) !important;
    }
  }





// NAVIGATION



a.nav-link {
  color: var(--gris-f2);
  transition: var(--transition);
}
a.nav-link.active {
  color: var(--bleu-f2);
}
a.nav-link:hover {
  color: var(--bleu);
}


.nav:not(.nav-tabs) .nav-link {
  position: relative;
  transition: var(--transition);
}


.nav:not(.nav-tabs) .nav-link:after {
    content: '';
    display: block;
    background: var(--bleu);
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -1px;
    left:50%;
    transition: var(--transition);
}

.nav:not(.nav-tabs) a.nav-link.active:after {
    width: 70%;
    left:15%;
    background: var(--bleu-f1);
}
.nav:not(.nav-tabs):hover .nav-link.active:not(:hover):after {
    width:0%; 
    left: 50%;
}

.nav:not(.nav-tabs) .nav-link:hover:after, 
.nav:not(.nav-tabs) .nav-link.active:hover:after {
    height: 5px;
    left:0;
    width:100%;
    background: var(--bleu);
}




// link a

.content a {
  color: #111;
  padding: 2px 0 1px 0;
  text-decoration: none;
  background-image: linear-gradient( transparent 0%, transparent calc(50% - 9px), #6877FF calc(50% - 9px), #6877FF 100% );
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0;
  word-break: break-word;
}
.content a:hover {
  background-image: linear-gradient( transparent 0%, transparent calc(50% - 9px), #6877FF calc(50% - 9px), #6877FF 100% );
  background-position: 0 100%;
}