.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
    transition: var(--transition);
  }
  transition: var(--transition);
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: $transition-collapse;
}
