
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');

*{
    hyphens: none !important;
    -webkit-hyphens: none !important;
}

html {
    background-color: #222222;
}
#export div, #export p, #export span {
    margin: 0;
    padding: 0;
    font-kerning: normal;
    font-feature-settings: normal;
}
#export{
    position: fixed;
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
html body #screen {
    display: block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #373CF5;
    height: 394px;
    min-width: 700px;
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    text-align: left;
    line-height: 0;
    display: inline-block;
    font-size:12px;
    transform-origin: top left;
}


/* OUTILS --------------------------------------------------------------------------------------------------------------------------------- */
.alertie{
	display: block;
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	left:0;
	background-color: rgba(224,0,3,0.67);
	color: white;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	padding: 2em;
}

#outils {
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #F2F2F2;
    overflow: auto;
}

#outils .tab-content{
	margin: auto;
    max-height: calc(100vh - 500px);
    overflow-y: auto;
}

#outils .tab-content .container{
    max-width:800px;
}

#outils .input-minus-plus input {
    width: calc( 3rem + ( var(--space-2) * 2 ));
    flex:0 1 auto;
    text-align: center;
}







#telechargement{
    background: #373CF5;
    color: white;
    transition: var(--transition);
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
    font-size: var(--font-size-2);
	position: relative;
    padding: 0.75rem 0.25rem;
	width: 100%;
}
#telechargement:hover{
    background: #0000CC;
}

[id*='zone-']{
    padding: 0 1rem; 
	max-width: 900px;
	margin: 0 auto
}







#outils button {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1em;
    text-align: left;
    background-color: white;
    font-size: 12px;
    border-radius: 2em;
}
canvas {
    display: none;
    position: fixed;
    top: 0em;
    right: 0;
    z-index: 999999;
}